<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IdPSettings</key>
	<dict>
		<key>TenantID</key>
		<string>c27d1b33-32a2-4ab2-a5c9-03320e2f6c10</string>
		<key>Provider</key>
		<string>Azure</string>
		<key>ROPGID</key>
		<string>9fcc52c7-ee36-4889-8517-c5fed2c78083</string>
	</dict>
	<key>Kerberos</key>
	<dict>
		<key>Realm</key>
		<string>ENZIANTECH.COM</string>
	</dict>
	<key>TemporaryUserPermissions</key>
	<dict>
		<key>TemporaryUserPromotion</key>
		<true/>
	</dict>
</dict>
</plist>
