<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IdPSettings</key>
	<dict>
		<key>Provider</key>
		<string>Okta</string>
		<key>OktaAuthServer</key>
		<string>dev-77994981.okta.com</string>
	</dict>
</dict>
</plist>
