<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IdPSettings</key>
	<dict>
		<key>Provider</key>
		<string>Okta</string>
		<key>OktaAuthServer</key>
		<string>dev-77994981.okta.com</string>
	</dict>
	<key>Kerberos</key>
	<dict>
		<key>Realm</key>
		<string>ENZIANTECH.COM</string>
	</dict>
	<key>PasswordPolicies</key>
	<dict>
		<key>PasswordSyncBlockList</key>
		<array>
			<string>anka</string>
			<string>camdenwebster</string>
			<string>anotherUser</string>
		</array>
	</dict>
	<key>TemporaryUserPermissions</key>
	<dict>
		<key>TemporaryUserPromotion</key>
		<true/>
	</dict>
</dict>
</plist>
